<ion-modal-view>
	
	<ion-header-bar class="bar-calm">		
        <h1 class="title"> {{sub_item.title}}</h1>
        
        <button class="button icon-right button-clear" ng-click="OnClickIdeaTitleDone()">
        	<i class="icon" ng-class="modal_data.title.data.length>0 ? 'ion-checkmark':'ion-close'"></i>
        </button>
    </ion-header-bar>
    
    <ion-content has-bouncing="true" class="has-header white-bg" scroll="true">
        <form>
        <div class="spacer" style="width: 300px; height: 25px; overflow: scroll;"></div>
        
        <div class="editor-single-wrapper">
			<div class="left-italic-text">
    	        <h3>
        	       {{sub_item.title}}
            	</h3>
        	</div>

        	<textarea focus-me="modal_title_focus" mmsd-elastic="\n\n" ng-model="modal_data.title.data" maxlength="140" ng-enter="OnClickIdeaTitleDone()" ng-keyup="onIdeaTitleKeyUp()"></textarea>
        	
        	<div class="line-horizontal"></div>       	
        	<div class="character-remain">
        		<h3>
        			{{modal_data.title.character_remain}}
        		</h3>
        	</div>
        </div>
		</form>
    </ion-content>
    
</ion-modal-view>